Source: emane
Section: unknown
Priority: extra
Maintainer: Adjacent Link LLC <emane@adjacentlink.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev,libxml2-dev, libprotobuf-dev, libpcre3-dev, libace-dev, libpcap-dev
Standards-Version: 3.9.3
Homepage: https://github.com/adjacentlink/emane

Package: emane
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EMANE is an Extendable Mobile Ad-hoc Network Emulator that allows for heterogeneous network emulation using a pluggable MAC and PHY layer architecture.

Package: emane-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Headers necessary to build EMANE network emulation modules

Package: emane-dtds
Section: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  EMANE DTDs required for EMANE XML.

Package: emane-utils
Section: extra
Architecture: any
Depends: python-lxml, ${shlibs:Depends}, ${misc:Depends}
Description:  EMANE utilities

Package: emane-libs
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  EMANE libraries required for components

Package: emane-transportdaemon
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  EMANE transport daemon.  Creates and manages one or more transports

Package: emane-eventdaemon
Section: binary
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  EMANE event daemon forwards events to registered agents.

Package: emane-eventservice
Section: binary
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  EMANE event service creates and manages event generators.

Package: emane-model-rfpipe
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EMANE RF Pipe MAC layer

Package: emane-model-ieee80211abg
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  EMANE 802.11abg MAC layer

Package: emane-model-bypass
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  EMANE Bypass MAC layer

Package: emane-model-commeffect
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EMANE commeffect model replacement for commercial network emulators.

Package: emane-model-tdmaeventscheduler
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EMANE TDMA radio model

Package: emane-agent-gpsdlocation
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  EMANE gpsd location agent translates location events into NEMA strings and transmits them to gpsd via a pseudo terminal device

Package: emane-trans-virtual
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  EMANE virtual transport.  Uses tun device to create a network layer entry point for the NEM stack.

Package: emane-trans-raw
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  EMANE raw transport.  Uses raw IP to create a network layer entry point for the NEM stack.

Package: emane-trans-common
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EMANE common transport ethernet functionality

Package: emane-model-phyapitest
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  EMANE PHY API Test Shim layer

Package: emane-model-timinganalysisshim
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  EMANE Timing Test Shim layer

Package: emane-gen-eel
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EMANE Emulation Event Log Generator

Package: emane-manifest
Section: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  EMANE PLugin Manifests
