#!/usr/bin/make -f
export DEB_CXXFLAGS_MAINT_APPEND=-O3 -Wall -Wextra

# Workaround for unversioned SONAMEs in EMANE shared libraries
override_dh_makeshlibs:
	dh_listpackages | xargs -I {} dpkg-gensymbols -Pdebian/{} -p{} -q

PYTHON3_DEPENDS = -Vpython3:Depends="python3:any (>= 3.0), python3, python3-pkg-resources, python3-protobuf, python3-lxml"

override_dh_gencontrol:
	dh_gencontrol -- $(PYTHON3_DEPENDS)

override_dh_auto_install:
	dh_auto_install -- PYTHON=python3

%:
	dh $@ --parallel --with python3
